################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ApiSecuityServer.Message/obj
/.vs/ApiSecuitySerer
/ApiSecuityClient/obj
/ApiSecuityServer.Grpc
/ApiSecuityServer.Hub/obj
