################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ApiSecuitySerer
/ApiSecuityClient/obj
/ApiSecuityServer.Grpc
/ApiSecuityServer.Hub/obj
/ApiSecuityServer.Message
/AvaloniaApplication1/ApiSecuity.Client.Desktop
/AvaloniaApplication1/ApiSecuity.Client/bin/Debug/net9.0
/AvaloniaApplication1/ApiSecuity.Client/obj
/.vs/ProjectEvaluation
*.json
/ApiSecuityServer.Hub/bin/Release/net9.0
/AvaloniaApplication1/ApiSecuity.Client/bin/Release/net9.0
/ApiSecuityServer.Hub/bin/Debug/net9.0
/ApiSecuityServer.Model/bin/Debug/net9.0
/ApiSecuityServer.Model/obj
